// colors
$strong-black: #000;
$black: #34373d;
$white: #fff;
$blue-hover: #0078d7;
$grey: #777;
$light-grey: #f4f4f4;
$hover-grey: #f5f5f5;
$border-grey: #eaeaea;
$fond-black: #34373d;
$font-blue: #3e69e4;
$placeholder-active: #808080;
$red: #ff6347;

// sizes
$header-height: 50px;
// vanilla css var for js manipulations
:root {
    --sidebar-width: 20%;
    --taskInfo-width: 0;
}

