// colors
$black: #000;
$white: #FFFFFF;
$blue-hover: #0078D7;
$light-grey: #F4F4F4;
$fond-black: #34373d;
$font-blue: #3e69e4;
$placeholder-active: #808080;
$hover-grey: #F5F5F5;

// sizes
$header-height: 50px;
$sidebar-width: 20%;

